<header class="py-2 bg-blue-900">
    <div class="mx-auto px-10 md:px-20 w-full sm:w-auto md:w-full xl:w-3/4">
        <div class="flex flex-wrap">
            <div class="w-full md:w-2/6">
                <a href="/">
                    <img class="inline-block" style="height:40px" src="{{"/static/css/logo.png" | relative_url }}"/>
                </a>
                <div class="float-right mt-2">
                    <button type="button" id="main-navbar-open" class="items-center md:hidden text-gray-500 focus:outline-none focus:text-gray-700">
                        <svg class="fill-current w-4 h-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path></svg>
                    </button>
                    <button type="button" id="main-navbar-close" class="items-center hidden md:hidden text-gray-500 focus:outline-none focus:text-gray-700">
                        <svg class="fill-current w-4 h-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M10 8.586L2.929 1.515 1.515 2.929 8.586 10l-7.071 7.071 1.414 1.414L10 11.414l7.071 7.071 1.414-1.414L11.414 10l7.071-7.071-1.414-1.414L10 8.586z"></path></svg>
                    </button>
                </div>
            </div>

            <div class="w-full md:w-4/6 text-right hidden md:block" id="main-navbar">
                <div class="text-gray-200">
                    <a class="block md:inline-block px-2 py-2 hover:bg-blue-700 {% if page.url == "/" %}bg-blue-700{% endif %}" href="{{ "/" | prepend: site.mainurl  }}">Home</a>
                    <a class="block md:inline-block px-2 py-2 hover:bg-blue-700 {% if page.url contains "/blog" %}bg-blue-700{% endif %}" href="{{ "/blog" | prepend: site.mainurl  }}">Blog</a>
                    <a class="block md:inline-block px-2 py-2 hover:bg-blue-700 {% if page.url == "/community" %}bg-blue-700{% endif %}" href="{{ "/community" | prepend: site.mainurl  }}">Community</a>
                    <a class="block md:inline-block px-2 py-2 hover:bg-blue-700 {% if page.url contains "/docs" %}bg-blue-700{% endif %}" href="{{ "/docs" | prepend: site.mainurl }}">Docs</a>
                    <a class="block md:inline-block px-2 py-2 hover:bg-blue-700 {% if page.url == "/faq" %}bg-blue-700{% endif %}" href="{{ "/faq" | prepend: site.mainurl  }}">FAQ</a>
                </div>              
          </div>
      </div>
      
  </div>
</header>
